
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<ul>
    <li>@Html.ActionLink("Page 1", "Index", "Home/Page1")</li>
    <li>@Html.ActionLink("Page 2", "Index", "Home/Page2")</li>
    <li>@Html.ActionLink("Page 3", "Index", "Home/Page3")</li>
</ul>


