* 
*{	
	margin: 0;
	padding: 0;
	}
/* Generic Tags */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	background-color: #fbf5ef;
	}
.img2 {
	margin-left: 60px;
	margin-bottom: 10px;
	padding: 0;
	border: 2px solid #000;
	width:700px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	}
div#banner {
	background-color: #fbf5ef;
	padding-top: 60px;
	padding-bottom: 100px;
	background-image:url(images/Banner.png);
	background-repeat:no-repeat;
	background-position:25% 10%;
	margin: 0 30px 0 30px;
	width:800px;
	}
#nav {
	color: #fbf5ef;
	text-align: right;
	font-size: 12px;
	margin-top: 50px;
	padding: 0 0 0 0;
	width:790px;
	}

/* font tags */
#price {
	color:#FBF5EF;
	}
strong {
	font-size:12px;
	}
#copyright {
	text-align:center;
	font-size:10px;
	}

/* new button */
#new {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #cc9f52;
	}
.new:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
	}
.new:active {
	position:relative;
	top:1px;
	}

/* table mods*/
.shipTable {
	display:block;
	font-size:10px;
	color:#473226;
	width:650px;
	margin-left: 175px;
}
tr:first-child {
	background-color:#996632;
	color:#000;
	}
.prodTable {
	font-size:10px;
	color:#000;
	width:550px;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 125px;
	margin-right: 15p;
	}
caption {
	font-style:italic;
	color:#473226;
	}	

/* gallery */
.img{
	background-color:#996632;
	-moz-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	}
.img img{
	height:100px;
	width:100px;
	padding:50px;
}
.img:hover{
	background-color:#463327;
	-moz-transform:scale(2);
	-moz-box-shadow:0px 0px 30px #ccc;
	-webkit-transform:scale(2);
	-webkit-box-shadow:0px 0px 30px #ccc;
}

/* content tags */
#content {
	padding-top: 25px;
	margin: 0 30px 0 30px;
	width:800px;
	}
#content h2 {
	text-indent: 45px;
	padding: 10px 0 10px 0;
	text-shadow:0.3em 0.2em 0.3em #996632;
		}
#content p  {
	line-height: 150%;
	margin-top: 0;
	margin-bottom: 10px;
	margin-left: 25px;
	margin-right: 15px;
	color:#463327;
	width:800px;
	}

/* link tags */
#content a:link {
	color:#8A6F57;
	text-decoration:underline;
	}
a:link {
	color:#FBF5EF;
	font-weight: bold;
	font-style: italic;
	text-transform: none;
	text-decoration: none;
	}
a:hover {
	font-weight: bold;
	font-style: italic;
	text-transform: none;
	text-decoration: none;
	opacity: 0.5;
	}
a:visited {
	font-weight: bold;
	font-style: italic;
	text-transform: none;
	text-decoration: none;
	color:#996632;
	}
a:active {
	font-weight: bold;
	font-style: italic;
	text-transform: none;
	text-decoration: none;
	text-shadow:0.5em 0.5em 0.7em #996632;
	}

/* footer */
#footer{	
	padding: 10px 0 10px 0;
	width:800px;
	background-image:url(images/Footer.png);
	background-repeat:no-repeat;
	background-position:25% 0;
	margin: 0 30px 0 30px;
	}
#footer p {
	margin-left: 25px;	
	}		
#wrapper {
	min-width:800px;
	-webkit-box-shadow:inset 5px 5px 5px #828282;
	-moz-box-shadow:inset 5px 5px 5px #828282;
	box-shadow: inset 5px 5px 5px #828282;
	}