/* general tags */
img {
	padding:10px;
	border: 1px solid #996632;
		}
ul {
	list-style:none;
	margin-left:80px;
	margin-top:-10px;
	line-height: 150%;
	}
hr {
	height:10px;
	color: #473226;
	background-color: #473226;
	}
h1 {
	color:#66CC32;
	text-decoration:underline dashed #66CC32;
	margin-left:50px;
	}
td:nth-child(2n) {
	background-color:#996632;
	color:#FBF5EF;
	}
td:nth-child(2n+1) {
	background-color:#FBF5EF;
	color:#996632;
	}
form {
	padding:10px;
	}
.customTable {
	width:500px;
	margin-left:50px;
	font-size:11px;
	padding:5px;
	border-collapse:inherit;
	}

/* caption tags */
#caption {
	float: right;
	width: 200px;
	margin: 0px 20px 0px 20px;
	}
#caption p {
	color: #FBF5EF;
	text-align: center;
	background-color:#996632;
	border: 1px dashed #473226;
	margin: 2px 0 0 0;
	padding:2px;
	height:20px;
	width:217px;
	}

/* text tags */
.subHeader {
	color:#996632;
	font-size:14px;
	font-weight:500;
	}
	
/* column tags */
#rows {
	border:3px dashed #996632;
	background-color:#FFF;
	width:500px;
	height:60px;
	padding:10px;
	margin-left:50px;
	}
#reveiws {
	border: 2px solid #6C3;
	background-color:#FFF;
	width: 775px;
	height:200px;
	padding:10px;
	margin-left:30px;
	}
#row1 {
	width:220px;
	float:left;
	margin-left:10px;
	}
#row2 {
	width:220px;
	float:left;
	margin-left:30px;
	}
#row3 {
	width: 220px;
	margin-left:520px;
	}
#reveiws p {
	color:#090;
	font-size:11px;
	}
#stoneRow {
	margin-left:210px;
	}
	
/* form tags */
#name, #email, #comments {
	background-color: #996632;
	color:#FBF5EF;
	font-size: .9em;
	width: 250px;
	margin-top: -2px;
}
#subForm {
	font-size: 12px;
}
#subForm .label {
	float: left;
	width: 200px;
	margin-right: 10px;
	text-align: right;
	font-weight: bold;
	clear: left;
}
#subscribe {
	margin-left: 240px;
	background-color: #473226;
	color:#FBF5EF;
}
#name:focus,
#email:focus,
#comments:focus,
#refer:focus
{
	background-color: #996632;
}

/* sidebar tags */
.sidebar {
	width: 20%;
	float: right;
	margin: 10px;
	background-color: #FAEBC7;
	padding: 10px 20px;
	border: 1px dotted #996632;
	border-top: 20px solid #996632;
	color:#996632;
}
.sidebar h2 {
	border: none;
	margin-top: 0;
	padding: 0;
}
* html .sidebar {
	display: inline;
}

