@charset "UTF-8";
* {
	color:#000 !important;
	background:white !important;
	width:auto color:#000 !important;
	}
h1 {
	font-size: 16px !important;
	}
h2 {
	font-size: 18px !important;

	}
body {
	font-size: 12pt !important;
		}
p {
	font-size: 12pt !important;
	}
a:after {
	content: "(" attr(href) ")";
	}
img {
	display:none;
	}