@{
    ViewBag.Title = "Home Page";
}

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/webAPI.js"></script>
}

<div class="container" style="background-color:darkgray;padding-bottom:50px;">
    <div class="jumbotron" style="text-align:center; color:white; background-color:darkgray;">
        <h1>Search for Gifs</h1>
    </div>

    <div class="row" style="text-align:center;">
        <form>
            <fieldset>
                <p>
                    <strong style="color:white;">
                        Sort By Rating?
                    </strong>
                    <select id="rating">
                        <option value="Y">Y</option>
                        <option value="G">G</option>
                        <option value="PG">PG</option>
                        <option value="PG-13">PG-13</option>
                    </select>
                </p>
            </fieldset>
                <input type="text" id="userQuery" />
                <input type="button" id="Search" class="Search" value="Search" onclick="searchResults();" />
        </form>
        <br /><br />
        <main id="searchResults"></main>
    </div>
</div>
<img src="~/Content/Images/PoweredBy_200px-White_HorizText.png" />

