
@{
    ViewBag.Title = "Create";
}

<div>
    <h2>Change of Address Notice For DMV Records</h2>
    <form method="" id="form" action="Home/Submissions">
    <strong>NOTE: </strong>
    ALL information is REQUIRED to change your address.
        <label for="id">ODL / Permit / ID / Customer # </label>
        <input type="text" name="id" value="" />


    </form>
</div>

