
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Submissions", "Index", "Customer/Submissions")</li>
        <li>@Html.ActionLink("Create Request", "Index", "Customer/Create")</li>
    </ul>
</div>

