@model IEnumerable<HW8.Models.Genre>

@{
    ViewBag.Title = "Index";
}

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/AjaxRequest.js"></script>
}


<div class="jumbotron" style="text-align:center; color:white; background-color:darkgray;">
    <h2>Welcome to the Artist Gallery</h2>
</div>

<p>
    Feel free to browse our miniscule number of artist's and their works by any of our navigation links OR by
    clicking on the Genre buttons below.
</p>

@foreach (var item in Model)
{
    <div class="col-sm-3">
        <button class="btn-group" onclick="callFunction('@item.GenreID');">@Html.DisplayFor(model => item.Name)</button>
        <table id="list"></table>
    </div>
}